<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.belatrixsf.tishadow.tests.runDeploy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+9">
      </key>
      <key
            commandId="com.belatrixsf.tishadow.tests.runTest"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+8">
      </key>
      <key
            commandId="com.belatrixsf.tishadow.tests.runServer"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+0">
      </key>
   </extension>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.belatrixsf.tishadow.tests.LaunchTiShadowTests"
            id="com.belatrixsf.tishadow.tests.launchTiShadowTests"
            modes="run"
            name="TiShadow Tests">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="com.belatrixsf.tishadow.server.LaunchTiShadowServer"
            id="com.belatrixsf.tishadow.server.launchTiShadowServer"
            modes="run"
            name="TiShadow Server">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="com.belatrixsf.tishadow.run.LaunchTiShadowRun"
            id="com.belatrixsf.tishadow.run.launchTiShadowRun"
            modes="run"
            name="TiShadow Deploy">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.belatrixsf.tishadow.tests.LaunchTiShadowTestsTabGroup"
            id="com.belatrixsf.tishadow.tests.launchTiShadowTestsTabGroup"
            type="com.belatrixsf.tishadow.tests.launchTiShadowTests">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.belatrixsf.tishadow.server.LaunchTiShadowServerTabGroup"
            id="com.belatrixsf.tishadow.server.launchTiShadowServerTabGroup"
            type="com.belatrixsf.tishadow.server.launchTiShadowServer">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.belatrixsf.tishadow.run.LaunchTiShadowRunTabGroup"
            id="com.belatrixsf.tishadow.run.launchTiShadowRunTabGroup"
            type="com.belatrixsf.tishadow.run.launchTiShadowRun">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.belatrixsf.tishadow.tests.launchTiShadowTests"
            icon="icons/tishadow-spec_16.png"
            id="com.belatrixsf.tishadow.tests.launchTiShadowTestsImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="com.belatrixsf.tishadow.server.launchTiShadowServer"
            icon="icons/tishadow-server-run_16.png"
            id="com.belatrixsf.tishadow.server.launchTiShadowServerImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="com.belatrixsf.tishadow.run.launchTiShadowRun"
            icon="icons/tishadow-run_run_16.png"
            id="com.belatrixsf.tishadow.run.launchTiShadowRunImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.belatrixsf.tishadow.tests.LaunchTestsShortcut"
            description="Run Jasmine specs on this project and shows results in JUnit View"
            icon="icons/tishadow-spec_16.png"
            id="com.belatrixsf.tishadow.tests.launchTiShadowTestsShortcut"
            label="TiShadow Tests"
            modes="run">
         <contextualLaunch>
            <enablement>true</enablement>
            <contextLabel
                  label="TiShadow Tests"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="com.belatrixsf.tishadow.run.LaunchRunShortcut"
            description="Command to deploy your app to all (tishadow) connected devices."
            icon="icons/tishadow-run_run_16.png"
            id="com.belatrixsf.tishadow.tests.launchTiShadowDeployShortcut"
            label="TiShadow Deploy"
            modes="run">
         <contextualLaunch>
            <enablement></enablement>
            <contextLabel
                  label="TiShadow Deploy"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.belatrixsf.tishadow.app"
            name="TiShadow">
      </category>
      <wizard
            canFinishEarly="false"
            category="com.belatrixsf.tishadow.app"
            class="com.belatrixsf.tishadow.app.wizards.ApplicationTiShadowWizard"
            icon="icons/tishadow.png"
            id="com.belatrixsf.tishadow.app.wizards.BaseProjectWizardController"
            name="TiShadow App Creation"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.belatrixsf.tishadow.app"
            class="com.belatrixsf.tishadow.app.wizards.AppifyTiShadowWizard"
            icon="icons/tishadow.png"
            id="com.belatrixsf.tishadow.app.wizards.AppifyWizardController"
            name="TiShadow Appify Creation (Creates a TI app)"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:common.new.menu?before=new">
            <command
                  commandId="com.belatrixsf.tishadow.tests.appify"
                  label="TiShadow Appify">
                  <visibleWhen>
	               <with
	                     variable="selection">
	                  <iterate
	                        ifEmpty="false">
	                     <instanceof
	                           value="org.eclipse.core.resources.IResource">
	                     </instanceof>
	                     <test
	                           property="org.eclipse.core.resources.projectNature"
	                           value="com.appcelerator.titanium.mobile.nature">
	                     </test>
	                  </iterate>
	               </with>
	            </visibleWhen>
	            </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.belatrixsf.tishadow.tests.tishadowToolbar"
               label="TiShadow Toolbar">
            <command
                  commandId="com.belatrixsf.tishadow.tests.runServer"
                  icon="icons/tishadow-server-run_16.png"
                  label="TS start server"
                  style="push"
                  tooltip="Starts the TiShadow server on the configured port.">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        forcePluginActivation="true"
                        property="com.belatrixsf.tishadow.tests.serverRunning"
                        value="false">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="com.belatrixsf.tishadow.tests.runServer"
                  icon="icons/tishadow-server-stop_16.png"
                  label="TS stop server"
                  style="push"
                  tooltip="Stops the TiShadow server on the configured port.">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        forcePluginActivation="true"
                        property="com.belatrixsf.tishadow.tests.serverRunning"
                        value="true">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="com.belatrixsf.tishadow.tests.runTest"
                  icon="icons/tishadow-spec_16.png"
                  id="com.belatrixsf.tishadow.tests.runTest.pulldown"
                  label="TS run tests"
                  style="pulldown"
                  tooltip="Run tests on the selected project">
            </command>
            <command
                  commandId="com.belatrixsf.tishadow.tests.runDeploy"
                  icon="icons/tishadow-run_run_16.png"
                  id="com.belatrixsf.tishadow.run.runTiShadow.pulldown"
                  label="TS deploy"
                  style="pulldown"
                  tooltip="TiShadow Deploy on the selected project">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.jdt.junit.ResultView?after=additions">
         <command
               commandId="com.belatrixsf.tishadow.tests.reRunTest"
               icon="icons/tishadow-spec-rerun_16.png"
               style="push"
               tooltip="Re-run tishadow tests">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:com.belatrixsf.tishadow.tests.runTest.pulldown">
         <dynamic
               class="com.belatrixsf.tishadow.tests.RunTestPulldown"
               id="com.belatrixsf.tishadow.tests.runTestPulldown">
         </dynamic>
         <command
               commandId="com.belatrixsf.tishadow.tests.OpenRunConfigurations"
               label="Run Configurations..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:com.belatrixsf.tishadow.run.runTiShadow.pulldown">
         <dynamic
               class="com.belatrixsf.tishadow.run.RunTiShadowPulldown"
               id="com.belatrixsf.tishadow.run.runTiShadowPulldown">
         </dynamic>
         <command
               commandId="com.belatrixsf.tishadow.tests.OpenRunConfigurations"
               label="Run Configurations..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.belatrixsf.tishadow.tests.category"
            name="TiShadow">
      </category>
      <command
            categoryId="com.belatrixsf.tishadow.tests.category"
            defaultHandler="com.belatrixsf.tishadow.handlers.RunServer"
            id="com.belatrixsf.tishadow.tests.runServer"
            name="Run TiShadow Server">
      </command>
      <command
            categoryId="com.belatrixsf.tishadow.tests.category"
            defaultHandler="com.belatrixsf.tishadow.handlers.RunTest"
            id="com.belatrixsf.tishadow.tests.runTest"
            name="Run TiShadow Tests">
         <commandParameter
               id="com.belatrixsf.tishadow.tests.config"
               name="runTestsConfig"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="com.belatrixsf.tishadow.tests.category"
            defaultHandler="com.belatrixsf.tishadow.handlers.TiShadowAppifyCreation"
            id="com.belatrixsf.tishadow.tests.appify"
            name="TiShadow Appify Creation">
      </command>
      <command
            categoryId="com.belatrixsf.tishadow.tests.category"
            id="com.belatrixsf.tishadow.tests.reRunTest"
            name="Re-Run TiShadow Tests">
      </command>
      <command
            categoryId="com.belatrixsf.tishadow.tests.category"
            defaultHandler="com.belatrixsf.tishadow.handlers.TiShadowRun"
            id="com.belatrixsf.tishadow.tests.runDeploy"
            name="TiShadow Deploy">
         <commandParameter
               id="com.belatrixsf.tishadow.run.config"
               name="runConfig"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="com.belatrixsf.tishadow.tests.category"
            defaultHandler="com.belatrixsf.tishadow.handlers.RunConfigurations"
            description="Run Configurations..."
            id="com.belatrixsf.tishadow.tests.OpenRunConfigurations"
            name="Run Configurations">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.belatrixsf.tishadow.tests.tester.ServerTester"
            id="com.belatrixsf.tishadow.tests.serverTester"
            namespace="com.belatrixsf.tishadow.tests"
            properties="serverRunning"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.belatrixsf.tishadow.tests.tester.ReRunTester"
            id="com.belatrixsf.tishadow.tests.reRunTester"
            namespace="com.belatrixsf.tishadow.tests"
            properties="hasPreviousLaunch"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.belatrixsf.tishadow.handlers.ReRunTest"
            commandId="com.belatrixsf.tishadow.tests.reRunTest">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="com.belatrixsf.tishadow.tests.hasPreviousLaunch"
                  value="true">
            </test>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
