<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.belatrixsf.tishadow.tests.LaunchTiShadowTests"
            id="com.belatrixsf.tishadow.tests.launchTiShadowTests"
            modes="run"
            name="TiShadow Tests">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.belatrixsf.tishadow.tests.LaunchTiShadowTestsTabGroup"
            id="com.belatrixsf.tishadow.tests.launchTiShadowTestsTabGroup"
            type="com.belatrixsf.tishadow.tests.launchTiShadowTests">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.belatrixsf.tishadow.tests.launchTiShadowTests"
            icon="icons/tishadow.png"
            id="com.belatrixsf.tishadow.tests.launchTiShadowTestsImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.belatrixsf.tishadow.tests.LaunchShortcut"
            description="Run Jasmine specs on this project and shows results in JUnit View"
            icon="icons/tishadow.png"
            id="com.belatrixsf.tishadow.tests.launchTiShadowTestsShortcut"
            label="TiShadow Tests"
            modes="run">
         <contextualLaunch>
            <enablement>true</enablement>
            <contextLabel
                  label="Run TiShadow Tests"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
         <!--perspective
               id="com.appcelerator.titanium.ui.StudioPerspective">
         </perspective>
         <perspective
               id="com.aptana.ui.WebPerspective">
         </perspective-->
      </shortcut>
   </extension>

</plugin>
