<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.belatrixsf.tishadow.tests.LaunchTiShadowTests"
            id="com.belatrixsf.tishadow.tests.launchTiShadowTests"
            modes="run"
            name="TiShadow Tests">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="com.belatrixsf.tishadow.server.LaunchTiShadowServer"
            id="com.belatrixsf.tishadow.server.launchTiShadowServer"
            modes="run"
            name="TiShadow Server">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.belatrixsf.tishadow.tests.LaunchTiShadowTestsTabGroup"
            id="com.belatrixsf.tishadow.tests.launchTiShadowTestsTabGroup"
            type="com.belatrixsf.tishadow.tests.launchTiShadowTests">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.belatrixsf.tishadow.server.LaunchTiShadowServerTabGroup"
            id="com.belatrixsf.tishadow.server.launchTiShadowServerTabGroup"
            type="com.belatrixsf.tishadow.server.launchTiShadowServer">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.belatrixsf.tishadow.tests.launchTiShadowTests"
            icon="icons/tishadow_16.png"
            id="com.belatrixsf.tishadow.tests.launchTiShadowTestsImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="com.belatrixsf.tishadow.server.launchTiShadowServer"
            icon="icons/tishadow-server_16.png"
            id="com.belatrixsf.tishadow.server.launchTiShadowServerImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.belatrixsf.tishadow.tests.LaunchShortcut"
            description="Run Jasmine specs on this project and shows results in JUnit View"
            icon="icons/tishadow_16.png"
            id="com.belatrixsf.tishadow.tests.launchTiShadowTestsShortcut"
            label="TiShadow Tests"
            modes="run">
         <contextualLaunch>
            <enablement>true</enablement>
            <contextLabel
                  label="Run TiShadow Tests"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="com.belatrixsf.tishadow.server.LaunchServerShortcut"
            description="Starts the tiShadow server in order to be able to run the tests on the devices"
            icon="icons/tishadow-server_16.png"
            id="com.belatrixsf.tishadow.server.launchTiShadowServerShortcut"
            label="TiShadow Server"
            modes="run">
         <contextualLaunch>
            <enablement></enablement>
            <contextLabel
                  label="Run TiShadow Server"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.belatrixsf.tishadow.app"
            name="TiShadow">
      </category>
      <wizard
            canFinishEarly="false"
            category="com.belatrixsf.tishadow.app"
            class="com.belatrixsf.tishadow.app.wizards.TiShadowAppWizard"
            icon="icons/tishadow.png"
            id="com.belatrixsf.tishadow.app.wizards.TiShadowAppWizard"
            name="TiShadow App Creation"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="com.belatrixsf.tishadow.app"
            class="com.belatrixsf.tishadow.app.wizards.TiShadowAppifyWizard"
            icon="icons/tishadow.png"
            id="com.belatrixsf.tishadow.app.wizards.TiShadowAppifyWizard"
            name="TiShadow Appify Creation (Creates a TI app)"
            project="true">
      </wizard>
   </extension>

</plugin>
